/*
- Children of flex are flex-items
- A flex item wants to be as small as possible while maintaining everything on one line (like max-content)
-
- flex-wrap: wrap;-> Children will wrao
- flex-wrap: nowrap;-> Children will never wrao

*/
.nav-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    margin: 0;
    padding: 0;
    list-style: none;
}

/**
 - flex-shrink: 0 -> No wrapping -> immediate overflow
 - flex-shrink: 1 -> Wrapping allowed

 - flex-grow: ; -> no growing allowed
 - flex-grow: 1; -> items are allowed to grow
 */
.nav-list > * {
    flex-grow: 1;
    flex-shrink: 1;
}


/* to help visualize */
header {
    --border-width: 5px;
}

.nav-list {
    border: var(--border-width) solid hsl(var(--clr-orange) / 0.5);
}

.nav-list > li {
    border: var(--border-width) solid hsl(var(--clr-green) / 0.5);
}

.info {
    font-size: 1.5rem;
    margin-top: max(3rem, 10vh);
}

.dot {
    padding: 0.25rem;
    width: 0;
    display: inline-block;
    border-radius: 50%;
}

.orange {
    background: hsl(var(--clr-orange));
}

.green {
    background: hsl(var(--clr-green));
}

/* general styling */

header {
    margin-block: 3rem;
}

:root {
    --clr-orange: 7 100% 63%;
    --clr-blue: 239 100% 50%;
    --clr-green: 125 50% 50%;
    --spacer: 2rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    padding: var(--spacer);
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
}

h1 {
    margin-bottom: 1em;
    font-size: clamp(2rem, 5vw + 1rem, 4rem);
    line-height: 1.1;
    color: hsl(var(--clr-orange));
    text-shadow: 0.05em 0.05em 0 hsl(0 0% 0% / 0.7);
}
