$color-pink: #A62E5C;
$color-green: #9BC850;
$color-purple: #675BA7;

html,
body {
  padding: 10px;
  margin: 0;
  font-family: arial, sans-serif;
}

.flex-container {
  display: block;
  border:solid 4px #000;
}

.flex-item {
  color: #fff;
  font-size: 1.2em;
  padding: 1em;
  text-align: center;
}

.flex-item:first-child {
  background-color: $color-pink;
}

.flex-item:nth-child(2) {
  background-color: $color-green;
}

.flex-item:nth-child(3) {
  background-color: $color-purple;
}

.flex-item strong {
  display: block;
  font-size: 130%;
}

.container{
  background-color: $color-purple;
  height: 500px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.centered-top{
  align-self: flex-start;
}

.centered-bottom{
  align-self: flex-end;
}


.item{
  padding:10px;
  background: $color-green;
  border-radius: 3px;
  color:white;

  max-width: 50%;
  flex-grow: 1;
}